# Example config file for `aws role`
# Rename this to role.config, it will be picked up by cli/role.sh then
# Once modified with real data, DO NOT CHECK IN THIS FILE.

# This file defines shortcuts for the roles "somerole" and "someotherrole",
# called "a" and "bb".
#
# Switch to role a like this (enter the MFA code if needed or wanted)
#
#   aws role a [mfa]
#
# Be a normal user in a similar way:
#
#   aws role user [mfa]

# Preparations
# ~~~~~~~~~~~~
#
# In order to make it all work, enter your user's credentials (key + secret)
# into the ~/.aws/credentials file like that:
#
#   [user]
#   aws_access_key_id = xxxxxxxxxxxx
#   aws_secret_access_key = yyyyyyyyyyyyyyyyyyyyyyyyy
#
# Any default options just put into your ~/.aws/config file, like this:
#
#   [profile default]
#   region = eu-west-1
#

role_a="arn:aws:iam::123456789012:role/somerole"
role_bb="arn:aws:iam::098765432109:role/someotherrole"

# Set to empty do disable MFA force
mfa_force=1

# Set to empty to login as user by default
default_role=a


# vim: nowrap
